.main__title {
  margin: 0px;
  margin-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 22px;
  text-align: center;
  color: #e77326;
}