body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}
  
@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css); 
/* block "header" */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header___title.css);
/* block "main" */
@import url(./blocks/main/main.css);
@import url(./blocks/main/__container/main__container.css);
@import url(./blocks/main/__img/__img-grey/main__img-grey.css);
@import url(./blocks/main/__img/__img-orange/main__img-orange.css);
@import url(./blocks/main/__form/main__form.css);
@import url(./blocks/main/__form/__about/main__form__about.css);
@import url(./blocks/main/__title/main__title.css);
@import url(./blocks/main/__form/__input/main__form__input.css);
@import url(./blocks/main/__form/__button/main__form__button.css);
@import url(./blocks/main/__text/main__text.css);
@import url(./blocks/main/__input/main__input.css);
@import url(./blocks/main/__button/main__button.css);
/* block "train" */
@import url(./blocks/train/train.css);
/* block "footer" */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);